header
  h1.logo ChrisWoosley

  nav
    ul
      li: a(href="#home") Home
      li: a(href="#about") About
      li: a(href="#process") Process
      li: a(href="#tools") Tools
      li: a(href="#projects") Projects
      li: a(href="#contact") Contact