section.about#about
  .flex.flex--space-around
    .col-1
      img.video(src="/assets/img/embed_video_2.jpg")

    .col-1.description
      p.about-title  Web Developer
      //- .box
      p.about-copy  “Exceptionally creative and  dependable Entry Level Web Developer with a stellar customer service record and superb work ethic. Broadly and deeply knowledgeable in a wide variety of computer languages as well as the principles and techniques of website construction and design. Highly adept at conveying complex technical information to a variety of professional and lay audiences in a clear and understandable manner.”
      a(href="https://github.com/cwooz" target="_blank").home-cta Learn More