section.tools#tools
  .flex.flex--space-around
    .col-1.left
      .tools-strip
      img.flex-video(src="/assets/img/tools/iFrame2.jpg")
      //- <iframe src="https://www.youtube.com/embed/89sacBIEq4g?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>

    .col-1
      p.tools-title  My Tools
      p.tools-copy  "...Not confined by tools or trends but using these things to achieve the desired results..."
      a(href="https://github.com/cwooz" target="_blank").home-cta Learn More