section.projects#projects
  .flex.flex--center

    .col-50
      .projects-wrap
        {% for post in site.posts reversed %}
        a(href="{{post.url}}" style="background-image: url(assets/img/projects/{{post.thumbnail}}" target="_blank").projects-thumb
          .projects-meta
            .name {{%post.title%}}
        {% endfor %}

    .col-50.flex.flex--center.order-first
      .col-1
        .desc-wrap
          p.projects-title My Projects
          //- .box
          p.projects-copy  "...Understanding that the quality of the conversations held are largely responsible for the outcome of the process. The quality of the resulting product reflects the quality of the creative process—and the curiosity and determination of the participants."
          a(href="http://codepen.io/cwooz/pens/public/" target="_blank").home-cta View Sites