section.contact#contact
  .flex.flex--center
    .col-2
      .contact-title Contact Me
      
      .notes-signup-box.
        <div id="mc_embed_signup">
          <form>
            <div id="mc_embed_signup_scroll">
              
              <div class="form-display">
                <div class="mc-field-group">
                  <label for="mce-NAME"> Name </label>
                  <input type="text" value="" name="NAME" class="" id="mce-NAME">
                </div>
                
                <div class="mc-field-group">
                  <label for="mce-EMAIL"> Email </label>
                  <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                </div>
                
                <input type="submit" value="Submit" name="submit" id="mc-embedded-subscribe" class="button">
              </div>
              
              <div id="mce-responses" class="clear">
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
              </div>
              
            </div>
          </form>
        </div>        
    
  .flex.flex--center
    .col-50.left
      p.body Would you like to request more information about myself and my experience... Connect with me using these social media links, click the link below to send me an email or use the form above to download a copy of my resume.

    .col-50
      ul
        li <a href="https://github.com/cwooz"> <i class="fa fa-github" aria-hidden="true"> </i> /cwooz</a>
        li <a href="https://www.linkedin.com/in/chriswoosley/"> <i class="fa fa-linkedin-square" aria-hidden="true"> </i> /chrisWoosley</a>
        li <a href="https://twitter.com/iStayWoozy"> <i class="fa fa-twitter-square" aria-hidden="true"> </i> @iStayWoozy</a>
        li <a href="https://www.instagram.com/istaywoozy/"> <i class="fa fa-instagram" aria-hidden="true"> </i> @iStayWoozy</a>
