section.projects
  .flex.flex--center

    .col-50
      .projects-wrap
        {% for post in site.posts reversed %}
        a(href="{{post.url}}" style="background-image: url(assets/img/projects/{{post.thumbnail}}").projects-thumb
          .projects-meta
            .name {{%post.title%}}
        {% endfor %}

    .col-50.flex.flex--center.order-first
      .col-1
        .desc-wrap
          p.projects-title  ...My Projects...
          //- .box
          p.projects-copy  "...Not confined by tools or trends but using these things to achieve the desired results. More concerned with process than outcomes, trusting that good process will aways lead to good outcomes... Not confined by tools or trends but using these things to achieve the desired results."
          a(href="").home-cta Learn More