section.process
  .flex.flex--space-around

      .col-1
        p.process-title  ...My Process...
        .box
          p.process-copy  "More concerned with process than outcomes, trusting that good process will aways lead to good outcomes... Not confined by tools or trends but using these things to achieve the desired results."
        a(href="").home-cta Learn More

      .col-1
        img.flow(src="/assets/img/flow_tiles.png")