section.email
  background: #d62d20

  a
    background: #d62d20
    color: white
    display: block
    width: 100%
    line-height: 2
    text-align: center
    font-size: 70px
    
    @media (max-width: 895px)
      font-size: 60px

    @media (max-width: 650px)
      font-size: 45px

    @media (max-width: 450px)
      font-size: 35px